opencv-python   # edge detection
mouse           # track mouse position and detect button/scroll interactions
pillow          # take screenshots
pywin32         # add imgs to clipboard
tk              # GUI
